---
import '../styles/navbar.css';

---
<div class="containerNav">
    <div class="logo">TAKANAKUQ-KUNA</div>
    <nav>    
        <ul class="nav-links">
            <li><a href="/">Inicio</a></li>
            <li><a href="/contact">Contactanos</a></li>
            <li><a href="#politicas">Politicas</a></li>
        </ul>
    </nav>
</div>


<script>
</script>